{%extends "base.html"%} {%block title%} Home {%endblock%} {%block content%}
<h2> Welcome Home </h2>

<h3 align="center">Notes</h3>

<ul class="list-group list-group-flush" id="notes">
    {%for note in user.notes %}
    <li class="list-group-item"> {{note.data}} </li>
    {%endfor%}
</ul>

<form method="POST">
    <textarea name="note" id="note" cols="30" rows="10" class="form-control"></textarea>
    <br>
    <div align="center">
        <button type="submit" class="btn btn-primary"> Add Note</button>
    </div>
</form>

{%endblock%}